<%-include("parts/indexHead") %>
<style>
    body{
        text-align: right;
    }
    .body{
        text-align: center;
        font-size: 27px;
    }
    .body a{
font-size: 22px;
    }
</style>
<div class="container">
    <h1>צור קשר</h1>
    <hr>
    <div class="body">
        לפרטים נוספים או שאלות צרו קשר עם המספר
        <br>
        054 - 2221724
        <br>
        <a href="https://instagram.com/adi_shilian?igshid=16wpt38pxrrt6">לעמוד האינסטגרם לחצו כאן</a>
    </div>
</div>
<%-include("parts/footer") %>
