<%-include("parts/indexHead") %>
<style>
    body{
        text-align: right;
    }
</style>
<div class="container">
    <h1>צור קשר</h1>
    <hr>
    <div class="body">
        לפרטים נוספים או שאלות צרו קשר עם המספר
        <br>
        054 - 2221724
    </div>
</div>
<%-include("parts/footer") %>
