<%-include("parts/showHead") %>
<div class="container">
<h1>יצירת ספר </h1>
<hr>
<div class="container">
    <form style="text-align: right; " action="/createbook" method="POST">
        <div class="form-group">
            <label>שם הספר</label>
            <input class="form-control" placeholder="שם הספר" type="text" name="book[name]">
          </div>
          <div class="form-group">
            <lable>כריכה - קישור</lable>
            <input class="form-control" placeholder="תמונה" type="text" name="book[cover]">
        </div>

        <div class="form-group">
          <lable>סופרת</lable>
          <input class="form-control" placeholder="סופרת" type="text" name="book[author]">
      </div>
      <div class="form-group">
        <lable>שנת הוצאה </lable>
        <input class="form-control" placeholder="שנת הוצאה" type="number" name="book[year]">
    </div>
      <div class="form-group">
        <lable>מחיר </lable>
        <input class="form-control" placeholder="מחיר" type="text" name="book[price]">
    </div>

    <div class="form-group">
      <lable>תקציר </lable>
      <textarea class="form-control" name="book[summary]">

      </textarea>
    </div>
     
    <div class="form-group">
      <input class="btn bg-primary" class="form-control" type="submit" >
  </div>
    </form>
</div>
</div>
<%-include("parts/footer") %>
