<%-include("parts/showHead") %>
<!-- var: bookArr -->
<div class="container">
   <h1>ספרי עשוש</h1>
   <hr>
<%bookArr.forEach(function(book){%>
    <a href="/showbook/<%=book._id%>">
        <%=book.name%>


    </a>
    <%}) %>
</div>
<%-include("parts/footer") %>
