<%-include("parts/header") %>
<div class="container">
    <div class="container background">
        <img class="backImage" src="https://i.ibb.co/LNXfSfH/ei-1603983076915-removebg-preview-1.png">
        <h1>A.S SWEET</h1>

    </div>
</div>
<%-include("parts/footer") %>
