.navbar-inverse .navbar-brand {
    font-size: 25px;
    font-weight: 900;
    color: white;
    font-family: "Playfair Display", serif;
  
  }
  body {
    padding-top: 50px;
    text-align: right;
  }
  
  nav {
    text-align: right;
  }