body {
  padding-top: 50px;
  padding-right: 2px;
  height: 100%;
  background-color: rgb(98.9, 219.7, 265.5);
}

nav {
  text-align: right;
}
.background {
  margin-top: 5%;
  margin-left: 30%;
}
img {
  padding-left: 10%;
}

h1 {
  padding-left: 4%;
  font-family: "Playfair Display", serif;
  font-size: 72px;
  color: white;
  font-weight: 900;
}
html {
  height: 100%;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand {
  font-family: "Playfair Display", serif;
}

.navbar-inverse .navbar-nav > li > a {
  font-size: 20px;
  font-weight: 800;
  color: black;
}
.navbar-inverse .navbar-brand {
  font-size: 25px;
  font-weight: 900;
  color: white;
}

/* @media only screen and (min-width: 600px) {
  body {
    padding-top: 1%;
  }
} */
