.nb {
    font-size: 15px;
    font-weight: 900;
    color: white;
    font-family: "Playfair Display", serif;
    height: 30px;
    background-color: #87CEFA


    ;
    text-align: center;
    padding-top: 1.5%;
  
  }
  

 
  body{
   
    padding-top: 40px;
   text-align: right;
   direction: rtl;


  }
  
  .comHr{
    border-top: 3px solid #eee;

  }
 
  .bookcover{
    height: 260px;
  
  
  }
  

  #bookname{
    font-family: 'Karantina', cursive;        font-size: 50px;
  }
  .info{
    font-size: 15px;
    color: black;
    margin-top: 10%;
    font-family: 'Secular One', sans-serif;

  }
  .actualbook{
    text-align: center;
    margin-top: 9%;
  }
  #addCom{
    font-family: 'Varela Round', sans-serif;
font-size: 29px;
  }
  .hr{
    width:80%;
    margin-top: 0px;
    border:1px solid #87CEFA    ;
    background-color: #87CEFA
    ;
  
  }
  .submitbtn{
    background-color: #87CEFA
    ;
border: none;
  }

  .sum{
    white-space: pre-line;
    font-family: 'Alef', sans-serif; 
    font-weight: 900;
    font-size: 16px;
  }

  /* .titlefont{
    font-family: 'Rubik Beastly', cursive;
  } */
  #taktsir{
    font-size: 30px;
    font-family: 'Alef', sans-serif; 
    font-weight: 900;

  }
  #csFont{
    font-size: 20px;
  }
  .showcomments{
    border-radius: 19px;
  }

  .botnav{
    margin-bottom: 0%;
  }
.context{
  font-size: 28px;
  color: azure;
  font-family: 'Bellefair', serif;
}
  .contact{
    white-space: pre-line;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
   
  }
  .contact a {
    color: white;
  }
  #comname{
    font-family: 'Secular One', sans-serif;

  }
  .comtext{
    white-space: pre-line;
    font-family: 'Varela Round', sans-serif;
  }

  body{
    /* background-image: url("https://images.squarespace-cdn.com/content/v1/5705cdf2a3360c9af8604891/1540760553004-K8W1RRW6VLMH2JPAUY5R/Flower+drawings+of+cosmos+flowers+by+Katrina+of+Blushed+Design.++This+blog+post+reveals+a+collection+of+botanical+illustrations+and+flower+drawings+from+the+annual+inktober+challenge.+%23inktober+%23flowerdrawings+%23botnaicalillustrations+%23blushedbotanicals+www.blusheddesign.com?format=1000w"); */
    background-size: contain;
    background-image: url("https://i.pinimg.com/564x/db/97/1a/db971a4bf9b3f0dd2171a0da545c23df.jpg");
    background-position: 170px 150px;

  }
