
<nav style="background-color: #87CEFA; border-color: #87CEFA;" class="navbar botnav fixed-bottom navbar-light bg-light">
<div class="contact">
<span class="context"> יצירת קשר</span>  
פלאפון <a href="tel:+972538320235">053-8320235</a>
מייל <a href="mailto: ssws9159@gmail.com">ssws9159@gmail.com</a>  
אינסטגרם <a href="https://www.instagram.com/s_ashosh/">s_ashosh</a> 

</div>
<div style="color:#F0FFFF; text-align: center; font-size: 12px;" class="power container">  powered by   <a style="color: black " href="https://www.instagram.com/shilat.author/">  shilat.author</a>
</div>
<br>
</nav>

<script
  src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
