<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/home.css">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap" rel="stylesheet">
  
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ASHOSH</title>
</head>
<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #00CED1; border-color: #00CED1;">
  <div class="nav navbar-header">
   
    <a  href="/" class="navbar-brand">ASHOSH</a>
  </div>
 
</nav>
<body>

  
